export PATH=./bin:$PATH

dotenv compose/.envs/.local.docker/.postgres

export COMPOSE_FILE=compose/docker-compose.local.yml

export PGHOST=$POSTGRES_HOST
export PGPORT=$POSTGRES_PORT
export PGUSER=$POSTGRES_USER
export PGPASSWORD=$POSTGRES_PASSWORD
export PGDATABASE=$POSTGRES_DB

export DISCOURSE_DB_HOST=$POSTGRES_HOST
export DISCOURSE_DB_PORT=$POSTGRES_PORT
export DISCOURSE_DB_USER=$POSTGRES_USER
export DISCOURSE_DB_PASSWORD=$POSTGRES_PASSWORD
export DISCOURSE_REDIS_PORT=6380

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
